body{
    font-family: 'Montserrat';
    color: #b1b4bd;
    background-color: #323a45;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

/*HEADER*/

.nav-link{
    color: #b1b4bd;
    font-weight: 500;
}

.nav-link:hover{
    color: #e74c3c;
}

.header-background{
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    background-position: 0px 0px 100% 50%;
    background-size: auto, cover;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.sticky-nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding:20px;
    z-index: 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-color: rgba(12,32,59,0.5);
}

.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.navbar-brand{
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
}

.navbar-toggler{
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}

.navbar-toggler span + span{
    margin-top: 4px;
    width: 22px;
}

.navbar-toggler span + span + span{
    width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.2rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.active{
    color:#e74c3c
}

.btn{
    background-color: #e74c3c;
    color: white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

.btn:hover{
    background-color: #0a3d62;
    color: white;
}

.container{
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    background: #333;
    color: white;
    padding: 2rem 0;
    
    top: 0;
    right: 0;
    left: 0;
}

.header a{
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 10px;
    font-size: 1.5em;
}

.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: #4a4a4a;
}

.main {
    padding-top: 11rem;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* MAIN */

.main{
    color: white;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    display: flex;
}

.container-texto{
    width: 70%;
    margin-bottom: 20px;
}
p{
    width: 100%;
    text-align: justify;
}

.container-img{
    width: 60%;
    background: url(../images/img2.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-bottom: 20px;
}

/* PIE DE PAGINA */
footer{
    bottom: 0;
    margin-top: 1rem;
    padding: 1rem 0;
    background: #f2f2f2;
    color: black;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-footer1{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}

.column1 h1{
    font-size: 22px;
}

.column1 p{
    font-size: 14px;
    color: #000;
    margin-top: 20px;
    margin-right: 30px;
    text-align: justify;
    line-height: 25px;
}

.column2{
    max-width: 400px; 
}

.column2 h1{
    font-size: 22px;
}

.column2 .row1{
    margin-top: 20px;
    display: flex;
}

.row1 img{
    width: 36px;
    height: 36px;
}

.row1 label{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 16px;
}

.row1 label a{
    color: black;
}

.column3{
    max-width:  400px;
}

.column3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 160px;
    text-align: left;
    line-height: 20px;
    font-size: 17px;
}

.container-footer2{
    width: 100%;
    background: #101010;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.copyright{
    color: #c7c7c7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}


/*RECETAS*/

.receta__1{
    display: block;
    position: relative;
    width: 100%;
}

.receta__1 img{
    left: 0px;
    height: 440px;
    border: 2px solid black;
    margin: 10px;
}

/* PEDIDOS */

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 9rem; 
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.contenedor-postre{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.tarjeta{
    border-radius: 10px;
    text-align: left;
    min-width: 200px;
    padding:20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.tarjeta .textos{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.banner{
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
}

/*RECETAS*/

.receta__1{
    width: 100%;
    max-width: 1200px;
    margin: 12rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.receta__columna1{
    width: 100%;
}

.receta__img{
    width: 100%;
    background: url(../images/postre5.png);
    background-size: cover;
    background-position: center;
}

/*NOSOTROS*/

.main-who{
    margin: 12rem;
}

/*REGISTRO*/

@media only screen and (max-width: 800px){
    
    /*INDEX*/
    .container-img{
        width: 100%;
        background: url(../images/img2.jpg);
        background-size: cover;
        background-position: center;
        height: 50vh;
        margin-bottom: 20px;
    }

    .container-texto{
        width: 100%;
        margin-top: 15rem;
    }
    .container-texto p{
        width: 100%;
        text-align: justify;
    }
    
    /*RECETAS*/

    .receta__1{
        width: 90%;
        margin-top: 50rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    /*FOOTER*/

    .container-footer-all{
        width: 90%;
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 30px;
    }

    .container-footer1{
        width: 90%;
        margin: 0px auto;
        display: grid;
    }

    /*HEADER*/

    .menu-button-container{
        display: flex;
    }

    .menu{
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li{
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}